services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: temporal
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5
      timeout: 5s

  temporal:
    image: temporalio/auto-setup:latest
    ports:
      - "7233:7233"
      - "8233:8233"
    environment:
      - DB=postgres12
      - POSTGRES_USER=postgres
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=host.docker.internal
    depends_on:
      postgres:
        condition: service_healthy